/*Topbar icons style*/
.topbar_icons{
    cursor: pointer;
    width: 35px;
    text-align: center;
    font-family: icomoon;
    font-size: 18px;
    transition: 0.2s;
}
.topbar_icons:hover{
    background-color: rgb(29, 29, 29);
}
.hovered{
    background-color: rgb(29, 29, 29);
}

/*Cross for close new_item window*/
.new_item_close{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: icomoon;
    font-size: 24px;
    transition: 0.2s;
}
.new_item_close::before{
    content: "\ea0f";
}

/*Github icon in footer*/
#icogithub{
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-family: icomoon;
}
#icogithub::before{
    content: "\eab0";
}

/*Topbar icons*/
#icotasks::before{
    content: "\e9ba";
}
#icoprofile{
    font-size: 20px;
}
#icoprofile::before{
    content: "\e971";
}
#icogroups{
    font-size: 18px;
}
#icogroups::before{
    content: "\e972";
}
#icowiki{
    font-size: 26px;
}
#icowiki::before{
    content: "\eac8";
}
#iconew::before{
    content: "\ea0a"
}
#icoout{
    position: absolute;
    right: 0;
}
#icoout::before{
    content: "\ea14"
}

/*Show/hide wiki childs list*/
#icowikishow, #icowikihide{
    cursor: pointer;
    font-family: icomoon;
    font-size: 14px;
    margin-right: 5px;
}
#icowikishow:hover, #icowikihide:hover{
    color: white;
}
#icowikishow::before{
    content: "\ea0a"
}
#icowikihide::before{
    content: "\ea0b"
}

/*Fire near task name*/
#icofire{
    font-family: icomoon;
    float: right;
    margin-right: 5px;
    color: orangered;
}
#icofire::before{
    content: "\e9a9";
}

/*Filter arrow*/
#icoarrowright{
    font-family: icomoon;
    font-size: 12px;
    float: left;
}
#icoarrowright::before{
    content: "\ea43"
}

/*Add/remove checkbox*/
#icoaddcheckbox{
    cursor: pointer;
    font-family: icomoon;
    margin-left: 3px;
}
#icoaddcheckbox::before{
    content: "\ea0a";
}
#icoremovecheckbox{
    cursor: pointer;
    font-family: icomoon;
    margin-left: 10px;
}
#icoremovecheckbox::before{
    content: "\ea0d";
}

/*Sorting icons*/
.sort_icon{
    cursor: pointer;
    font-family: icomoon;
    font-size: 12px;
    color: white
}

.sort_icon_down{
    margin-left: 5px;
    float: left;
}
.sort_icon_up{
    margin-right: 5px;
    float: right;
}

.sort_by_letter_down::before{
    content: "\ea48"
}
.sort_by_letter_up::before{
    content: "\ea49"
}
.sort_by_obj_down::before{
    content: "\ea4c"
}
.sort_by_obj_up::before{
    content: "\ea4d"
}
.sort_by_num_down::before{
    content: "\ea4a"
}
.sort_by_num_up::before{
    content: "\ea4b"
}

/*Same hover effects*/
.new_item_close:hover, #icogithub:hover, #icoarrowright:hover, #icoaddcheckbox:hover, #icoremovecheckbox:hover, .sort_icon:hover{
    color: rgb(54, 161, 248);
}

@font-face{
    font-family: "icomoon";
    src: url("/public/font/icomoon.ttf");
    font-style: normal; 
    font-weight: normal;
}