html, body{
    width: auto;
    height: 100% !important;
    min-width: 100%;
    min-height: 100% !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}
#topbar{
    display: flex;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    background-color: #1973BD;
    color: white;
}
#topbar #service{
    cursor: default;
    width: 120px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(29, 29, 29);
    color: rgb(54, 161, 248);
}
#topbar #new_item{
    width: 120px;
    text-align: center;
    position: absolute;
    margin-top: 35px;
    margin-left: calc(120px + calc(35px * 3));
    padding: 0px;
    list-style-type: none;
    background-color: white;
    color: rgb(29, 29, 29);
}
#topbar #new_item li{
    border-bottom: 1px solid rgb(29, 29, 29);
    min-height: 25px;
}
#topbar #new_item li a{
    min-height: 25px;
    line-height: 25px;
    display: block;
    text-decoration: none;
    color: rgb(29, 29, 29);
}
#topbar #new_item li a:hover{
    background-color: #1973BD;
    color: white;
}
#topbar #user{
    cursor: default;
    position: absolute;
    right: 0;
    margin-right: 40px;
}
#topbar #user a{
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#topbar #user #out{
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    color: white;
}
#content{
    width: 100%;
    height: calc(100% - 35px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#content #pagetitle{
    cursor: default;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
    font-size: 24px;
}

#footer{
    cursor: default;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-top: 1px solid grey;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}
#footer a{
    text-decoration: none;
    color: grey;
}
#footer a #icogithub{
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-family: icomoon;
}
#footer a #icogithub:hover{
    color: rgb(54, 161, 248);
}
#footer a #icogithub::before{
    content: "\eab0";
}

.task_rec{
    padding-left: 180px;
    clear: left;
}
.label{
    font-weight: bold;
    width: 170px;
    margin-left: -180px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topbar_icons{
    cursor: pointer;
    width: 35px;
    text-align: center;
    font-family: icomoon;
    font-size: 18px;
    transition: 0.2s;
}
.topbar_icons:hover{
    background-color: rgb(29, 29, 29);
}
.hovered{
    background-color: rgb(29, 29, 29);
}

#icoprofile{
    font-size: 20px;
}
#icogroups{
    font-size: 20px;
}
#icowiki{
    font-size: 24px;
}
#icoout{
    position: absolute;
    right: 0;
}

#icotasks::before{
    content: "\e9ba";
}
#icoprofile::before{
    content: "\e971";
}
#icogroups::before{
    content: "\e972";
}
#icowiki::before{
    content: "\eac8";
}
#iconew::before{
    content: "\ea0a"
}
#icoout::before{
    content: "\ea14"
}

@font-face{
    font-family: "icomoon";
    src: url("/public/font/icomoon.ttf");
    font-style: normal; 
    font-weight: normal;
}