html, body{
    width: auto;
    height: 100% !important;
    min-width: 100%;
    min-height: 100% !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}
#topbar{
    display: flex;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    background-color: #1973BD;
    color: white;
}
#topbar #service{
    cursor: default;
    width: 120px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(29, 29, 29);
    color: rgb(54, 161, 248);
}
#topbar #user{
    cursor: default;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
#topbar #user a{
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#topbar #user #out{
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    color: white;
}
#content{
    width: 100%;
    height: calc(100% - 35px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#content #pagetitle{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
    font-size: 24px;
}
@font-face{
    font-family: "icomoon";
    src: url("../font/icomoon.ttf");
    font-style: normal; 
    font-weight: normal;
}