#topbar #icoprofile{
    background-color: white;
    color: rgb(29, 29, 29);
}

#content button{
    position: absolute;
    top: 40px;
    right: 15px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    border: none;
    background-color: #1973BD;
    color: white;
    transition: 0.2s;
}
#content button:hover{
    background-color: rgb(54, 161, 248);
}

#content #wrap{
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 0 30px;
    background-color: rgb(221, 221, 221);
    border-radius: 3px;
}

#content #wrap #user_about{
    display: inline-block;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px 0 0 10px;
}

#content #wrap #user_about #user_about_left{
    float: left;
    width: 49%;
    height: 100%;
}

#content #wrap #user_about #user_about_left .user_tasks{
    height: 50%;
}
#content #wrap #user_about #user_about_left .user_tasks .user_tasks_rec{
    cursor: default;
    font-weight: bold;
}

.value a{
    text-decoration: none;
    color: #1973BD;
}
.value a:hover{
    color: rgb(54, 161, 248);
}

#icoadmin{
    font-family: icomoon;
    font-size: 18px;
    margin-left: 5px;
    color: rgb(54, 161, 248);
}
#icoadmin::before{
    content: "\e976";
}