#content #userinfo{
    width: 40%;
    height: calc(100% - 40px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0 0 20px;
    background-color: rgb(221, 221, 221);
}
#content #userinfo #userabout{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}
#content #userinfo #userdepart{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}
#content #userinfo #userdepart a{
    text-decoration: none;
    color: black;
}