#topbar #icotasks{
    background-color: white;
    color: rgb(29, 29, 29);
}

#content #wrap{
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 0 30px;
    background-color: rgb(221, 221, 221);
    border-radius: 3px;
}

#content #wrap #task_about{
    display: inline-block;
    width: calc(100% - 20px);
    margin: 10px 0 0 10px;
}
#content #wrap #task_about a{
    text-decoration: none;
    color: black;
}
#content #wrap #task_about a:hover{
    color: rgb(54, 161, 248);
}

#content #wrap #task_about #task_creator{
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(29, 29, 29);
}

#content #wrap #task_about #task_info{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    padding-bottom: 5px;
    overflow: auto;
    border-bottom: 1px solid rgb(29, 29, 29);
}

#content #wrap #task_about #task_info_left{
    float: left;
    width: 49%;
}
#content #wrap #task_about #task_info_left .task_rec{
    padding-left: 180px;
    clear: left;
}
#content #wrap #task_about #task_info_left .task_rec .label{
    font-weight: bold;
    width: 170px;
    margin-left: -180px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content #wrap #task_about #task_desc{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(29, 29, 29);
}
#content #wrap #task_about #task_desc .label{
    font-weight: bold;
}

#content #wrap #close{
    cursor: pointer;
    margin-top: 10px;
    width: 120px;
    height: 25px;
    border: none;
    background-color: #1973BD;
    color: white;
    transition: 0.2s;
}
#content #wrap #close:hover{
    background-color: rgb(54, 161, 248);
}