{{define "styles"}}
<link href="/public/css/main.css" rel="stylesheet">
{{end}}
{{define "scripts"}}
<script type="text/javascript" src="/public/js/plugins/jquery-3.4.1.min.js"></script>
{{end}}        
{{define "content"}}
<div>
    <input type="text" id="input_group">
    {{ range .Users }}
    <input name="users" type="checkbox" value="user{{ .UserID }}">
    <label for="user{{ .UserID }}">{{ .UserFIO }}</label>
    {{ end }}
    <button id="send" onclick="gAdd()">Добавить</button>
</div>
<script type="text/javascript" src="/public/js/add.js"></script>
{{end}}