{{define "styles"}}
<link href="/public/css/main.css" rel="stylesheet">
<link href="/public/css/addtask.css" rel="stylesheet">
{{end}}
{{define "scripts"}}
<script type="text/javascript" src="/public/js/plugins/jquery-3.4.1.min.js"></script>
{{end}}        
{{define "content"}}
<div id="content">
            <div id="pagetitle">Новая задача</div>
            <div id="addtask">
                <div id="container_task_name">
                    <div id="task_name">Название задачи</div>
                    <input id="input_task_name" type="text" required>
                </div>
                <div id="container_desc">
                    <div id="desc">Описание</div>
                    <div id="elements">
                        <span class="elem" id="bold"></span>
                        <span class="elem" id="italic"></span>
                        <span class="elem" id="underline"></span>
                        <span class="elem" id="strike"></span>
                    </div>
                    <textarea id="input_desc"></textarea>
                </div>
                <div id="container_bottom">
                    <div id="container_exec">
                        <div id="exec">Назначена</div>
                        <select id="input_exec">
                            <option disabled selected>Работники</option>
                            {{range .Users}}
                            <option class="user" value="{{ .UserFIO}}">{{ .UserFIO}}</option>
                            {{end}}
                            <option disabled>Группы</option>
                            {{range .Groups}}
                            <option class="group" value="{{ .GroupName}}">{{ .GroupName}}</option>
                            {{end}}
                        </select>
                        <div id="rate">Рейтинг</div>
                        <input id="input_rate" type="number">
                    </div>
                    <div id="container_date">
                        <div id="date_start">Дата начала</div>
                        <input id="input_date_start" type="date" onload="setDate()">
                        <div id="date_end">Дата окончания</div>
                        <input id="input_date_end" type="date">
                    </div>
                </div>
                <button id="send" onclick="tAdd()">Добавить</button>
            </div>
        </div>
        <script type="text/javascript" src="/public/js/add.js"></script>
        <script type="text/javascript" src="/public/js/setdate.js"></script>
{{end}}