<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BlueMine</title>
        <link href="/public/css/main.css" rel="stylesheet">
        <link href="/public/css/addtask.css" rel="stylesheet">
    </head>
    <body>
        <div id="topbar">
            <div id="service">BlueMine</div>
            <div id="user">You're log in as 
                <a href="/profile/{{ .CurrentUser.UserName}}">{{ .CurrentUser.UserName}}</a>
                <a id="out" href="/logout">(logout)</a>
            </div>
        </div>
        <div id="content">
            <div id="pagetitle">Новая задача</div>
            <div id="addtask">
                <div id="containertaskname">
                    <div id="taskname">Название задачи</div>
                    <input id="inputtaskname" type="text" required>
                </div>
                <div id="containerdesc">
                    <div id="desc">Описание</div>
                    <div id="elements">
                        <span class="elem" id="bold"></span>
                        <span class="elem" id="italic"></span>
                        <span class="elem" id="underline"></span>
                        <span class="elem" id="strike"></span>
                    </div>
                    <textarea id="inputdesc"></textarea>
                </div>
                <div id="containerexec">
                    <div id="exec">Назначена</div>
                    <select id="inputexec">
                        <option disabled selected>Работники</option>
                        {{range .Users}}
                        <option class="user" value="{{ .UserFIO}}">{{ .UserFIO}}</option>
                        {{end}}
                        <option disabled>Группы</option>
                        {{range .Groups}}
                        <option class="group" value="{{ .GroupName}}">{{ .GroupName}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
        </div>
    </body>
</html>