{{define "styles"}}
    <link href="/public/css/groups.css" rel="stylesheet">
{{end}}
{{define "content"}}
    <div id="content">
        <div id="pagetitle">Список групп</div>
        <div id="grouplist">
            <div class="container_table">
                <table>
                    <thead>
                        <tr>
                            <th>Имя группы</th>
                            <th>Количество пользователей</th>
                            <th>Общий рейтинг</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Groups}}
                        <tr>
                            <td><a href="/group/show/{{ .GroupID }}">{{ .GroupName }}</a></td>
                            <td>{{ .GroupMembersCount}}</td>
                            <td>{{ .GroupRate}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}