{{define "styles"}}
{{end}}
{{define "content"}}
    <div id="content">
            <table>
                <thead>
                    <tr>
                        <th>Имя группы</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Groups}}
                    <tr>
                        <td><a href="/group/show/{{ .GroupID }}">{{ .GroupName }}</a></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
    </div>
{{end}}