{{define "base"}}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueMine</title>
    <link href="/public/css/github-markdown.css" rel="stylesheet">
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="/public/css/addtask.css" rel="stylesheet">
    {{template "styles" .}}
    <script type="text/javascript" src="/public/js/plugins/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/public/js/plugins/markdown-it.min.js"></script>
</head>
<body>
    {{block "topbar" .}}
    <div id="topbar">
            <div id="service">BlueMine</div>
            <span id="icotasks" class="topbar_icons" onclick="location='/tasks'"></span>
            <span id="icoprofile" class="topbar_icons" onclick="location='/profile/{{ .CurrentUser.UserName}}'"></span>
            <span id="icogroups" class="topbar_icons" onclick="location='/groups'"></span>
            <span id="icowiki" class="topbar_icons" onclick="location='/wiki'"></span>
            <span id="iconew" class="topbar_icons">
                <ul id="new_item" style="display: none;">
                    <li id="add_new_task">Добавить задачу</li>
                    {{ if .CurrentUser.UserisAdmin}}
                    <li id="add_new_tmpl">Добавить шаблон</li>
                    <li id="add_new_group">Добавить группу</li>
                    {{ end }}
                </ul>
            </span>
            <div id="user">You're log in as 
                <a href="/profile/{{ .CurrentUser.UserName}}">{{ .CurrentUser.UserName}}</a>
            </div>
            <span id="icoout" class="topbar_icons" onclick="location='/logout'"></span>
    </div>
    {{end}}
    {{template "content" .}}
    <div class="new_item" id="new_task">
        <div class="new_item_title">Новая задача</div>
        <span class="new_item_close"></span>
        <div class="new_item_wrap">
            <div id="container_task_general">
                <div class="record">
                    <div id="task_name" class="label">Название задачи</div>
                    <input id="input_task_name" type="text" required>
                </div>
                <div class="record">
                    <div id="task_tmpl" class="label">Шаблон</div>
                    <select id="input_task_tmpl">
                        <option selected>Без шаблона</option>
                        {{range .Templates}}
                        <option id="{{ .TmplID}}">{{ .TmplName}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            <div id="container_desc">
                <div id="desc" class="label">Описание</div>
                <div id="elements">
                    <span class="elem" id="bold"></span>
                    <span class="elem" id="italic"></span>
                    <span class="elem" id="underline"></span>
                    <span class="elem" id="strike"></span>
                </div>
                <textarea id="input_desc"></textarea>
                <div class="markdown-body" id="markdown_output"></div>
            </div>
            <div id="container_labels">
                <div id="container_labels_left">
                    <div class="record">
                        <div id="task_stat" class="label">Статус</div>
                        <select id="input_task_stat">
                                <option selected>Новая</option>
                                <option>В процессе</option>
                                <option>Закрыта</option>
                                <option>Отложена</option>
                        </select>
                    </div>
                    <div class="record">
                        <div id="task_priority" class="label">Приоритет</div>
                        <select id="input_task_priority">
                                <option selected>Низкий</option>
                                <option>Средний</option>
                                <option>Высокий</option>
                        </select>
                    </div>
                    <div class="record">
                        <div id="task_exec" class="label">Назначена</div>
                        <select id="input_task_exec">
                            <option disabled selected>Работники</option>
                            {{range .Users}}
                            <option class="user" id="{{ .UserID}}">{{ .UserFIO}}</option>
                            {{end}}
                            <option disabled>Группы</option>
                            {{range .Groups}}
                            <option class="group" id="{{ .GroupID}}">{{ .GroupName}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="record">
                        <div id="task_rate" class="label">Рейтинг</div>
                        <input id="input_task_rate" type="number" value="0">
                    </div>
                </div>
                <div id="container_labels_left">
                    <div class="record">
                        <div id="task_date_start" class="label">Дата начала</div>
                        <input id="input_task_date_start" type="date">
                    </div>
                    <div class="record">
                        <div id="task_date_end" class="label">Дата окончания</div>
                        <input id="input_task_date_end" type="date">
                    </div>
                </div>
            </div>
            <button id="task_change" class="send_button" onclick="taskChange()">Изменить</button>
            <button id="task_send" class="send_button" onclick="taskAdd()">Добавить</button>
        </div>
    </div>
    {{ if .CurrentUser.UserisAdmin}}
    {{template "newItem" .}}
    {{end}}
    <script type="text/javascript" src="/public/js/app.js"></script>
    <script type="text/javascript" src="/public/js/sorting.js"></script>
    <script type="text/javascript" src="/public/js/mdparse.js"></script>
    <script type="text/javascript" src="/public/js/hover.js"></script>
    <footer>
        <div id="footer">
            <div>Powered by PRCNIT Developers
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/IvanSaratov/bluemine"><span id="icogithub"></span></a>
            </div>
        </div>
    </footer>
</body>
</html>
{{end}}