{{define "styles"}}
<link href="/public/css/main.css" rel="stylesheet">
<link href="/public/css/profile.css" rel="stylesheet">
{{end}}
{{define "scripts"}}        
<script type="text/javascript" src="/public/js/plugins/jquery-3.4.1.min.js"></script>
{{end}}    
{{define "content"}}
<div id="content">
    <div id="pagetitle">Профиль</div>
    <div id="userinfo">
        <div id="userabout">{{ .UserData.UserFIO}}</div>
        <div id="userdepart"><a href="/department/{{ .UserData.UserDepartment}}">{{ .UserData.UserDepartment}}</a></div>
    </div>
</div>
{{end}}