{{define "styles"}}
    <link href="/public/css/tasks.css" rel="stylesheet">
{{end}}
{{define "content"}}
    <div id="content">
        <div class="pagetitle">Список задач</div>
        <div id="tasklist">
            <div class="container_table">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <span class="sort_icon sort_icon_down sort_by_letter_down" id="sort_name_down"></span>
                                Имя задачи
                                <span class="sort_icon sort_icon_up sort_by_letter_up" id="sort_name_up"></span>
                            </th>
                            <th>
                                <span class="sort_icon sort_icon_down sort_by_obj_down" id="sort_stat_down"></span>
                                Статус
                                <span class="sort_icon sort_icon_up sort_by_obj_up" id="sort_stat_up"></span>
                            </th>
                            <th>
                                <span class="sort_icon sort_icon_down sort_by_obj_down" id="sort_pr_down"></span>
                                Приоритет
                                <span class="sort_icon sort_icon_up sort_by_obj_up" id="sort_pr_up"></span>
                            </th>
                            <th>
                                <span class="sort_icon sort_icon_down sort_by_letter_down" id="sort_exec_down"></span>
                                Назначена
                                <span class="sort_icon sort_icon_up sort_by_letter_up" id="sort_exec_up"></span>
                            </th>
                            <th>
                                <span class="sort_icon sort_icon_down sort_by_obj_down" id="sort_add_down"></span>
                                Добавлена
                                <span class="sort_icon sort_icon_up sort_by_obj_up" id="sort_add_up"></span>
                            </th>
                            <th>
                                <span class="sort_icon sort_icon_down sort_by_obj_down" id="sort_limit_down"></span>
                                Закончить до
                                <span class="sort_icon sort_icon_up sort_by_obj_up" id="sort_limit_up"></span>
                            </th>
                            <th>
                                <span class="sort_icon sort_icon_down sort_by_num_down" id="sort_rate_down"></span>
                                Рейтинг
                                <span class="sort_icon sort_icon_up sort_by_num_up" id="sort_rate_up"></span>
                            </th>
                            <th>
                                <span class="sort_icon sort_icon_down sort_by_obj_down" id="sort_update_down"></span>
                                Обновлена
                                <span class="sort_icon sort_icon_up sort_by_obj_up" id="sort_update_up"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Tasks}}
                        <tr>
                            <td>
                                <a href="/tasks/show/{{ .TaskID }}">{{ .TaskName }}</a>
                                {{ if and (le .TaskDateDiff 36.0) (ne .TaskDateDiff 0.0) }}
                                <span id="icofire"></span>
                                {{end}}
                            </td>
                            <td>{{ .TaskStat }}</td>
                            <td>{{ .TaskPriority}}</td>
                            {{ if (eq .TaskExecutorType "group") }}
                            <td><a href="/group/show/{{ .TaskExecutorID }}">{{ .TaskExecutorName }}</a></td>
                            {{ else }}
                            <td><a href="/profile/{{ .TaskExecutorName }}">{{ .TaskExecutorFIO }}</a></td>
                            {{ end }}
                            <td>{{ .TaskDateStart }}</td>
                            <td>{{ .TaskDateEnd }}</td>
                            <td>{{ .TaskRate }}</td>
                            <td>{{ .TaskDateLastUpdate }}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}