{{define "styles"}}
<link href="/public/css/main.css" rel="stylesheet">
<link href="/public/css/taskpage.css" rel="stylesheet">
{{end}}
{{define "scripts"}}
<script type="text/javascript" src="/public/js/plugins/jquery-3.4.1.min.js"></script>
{{end}}
{{define "content"}}
<div id="content">
    <div id="pagetitle">Задача</div>
    <div id="task">
        <div id="task_about">
            <div id="task_creator">Добавил(а) <a href="/profile/{{ .TaskData.TaskCreatorName }}">{{ .TaskData.TaskCreator }}</a></div>
            <div id="task_info_left">
                <div id="task_stat">Статус: {{ .TaskData.TaskStat}}</div>
                <div id="task_exec">Назначена: <a href="/profile/{{ .TaskData.TaskExecutorName }}">{{ .TaskData.TaskExecutor }}</a></div>
            </div>
            <div id="task_info_right">
                <div id="task_date_start">Дата начала: {{ .TaskData.TaskDateStart}}</div>
                <div id="task_date_end">Срок: {{ .TaskData.TaskDateEnd}}</div>
            </div>
        </div>
        <div id="task_desc">
            Описание
            <object type="text/plain" data="/private/docs/{{ .TaskData.TaskID}}.txt"></object>
        </div>
    </div>
</div>
{{end}}