{{define "styles"}}
<link href="/public/css/taskpage.css" rel="stylesheet">
{{end}}
{{define "content"}}
<div id="content">
    <div id="pagetitle">{{ .TaskData.TaskName}}</div>
    <div id="wrap">
        <div id="task_about">
            <div id="task_creator">Добавил(а) <a href="/profile/{{ .TaskData.TaskCreatorName }}">{{ .TaskData.TaskCreatorFIO }}</a></div>
            <div id="task_info">
                <div id="task_info_left">
                    <div class="record" id="task_stat">
                        <div class="label">Статус:</div>
                        <div class="value">{{ .TaskData.TaskStat}}</div>
                    </div>
                    <div class="record" id="task_exec">
                        <div class="label">Назначена:</div>
                        {{ if (eq .TaskData.TaskExecutorType "group") }}
                        <div class="value"><a href="/group/{{ .TaskData.TaskExecutorID }}">{{ .TaskData.TaskExecutorName }}</a></div>
                        {{ else }}
                        <div class="value"><a href="/profile/{{ .TaskData.TaskExecutorName }}">{{ .TaskData.TaskExecutorFIO }}</a></div>
                        {{ end }}
                    </div>
                </div>
                <div id="task_info_left">
                    <div class="record" id="task_date_start">
                        <div class="label">Дата начала:</div>
                        <div class="value">{{ .TaskData.TaskDateStart}}</div>
                    </div>
                    <div class="record" id="task_date_end">
                        <div class="label">Срок:</div>
                        <div class="value">{{ .TaskData.TaskDateEnd}}</div>
                    </div>
                </div>
            </div>
            <div id="task_desc">
                <div class="label">Описание</div>
                <div class="value"></div>
            </div>
            <button id="close" onclick="tClose()">Закрыть</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/gettaskdesc.js"></script>
<script type="text/javascript" src="/public/js/closetask.js"></script>
{{end}}