{{define "styles"}}
<link href="/public/css/wikipage.css" rel="stylesheet">
{{end}}
{{define "content"}}
<div id="content">
    <div class="pagetitle">Wiki</div>
    <button class="content_button" onclick="location.href='/wiki/new'">Создать новую статью</button>
    <div id="wrap">
        <div id="wikilist">
            <hr>
            <ul>
                {{range .Wikies}}
                <li><a href="/wiki/show/{{.WikiID}}">{{.WikiName}}</a></li>
                {{end}}
            </ul>
            <hr>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/getwikilist.js"></script>
{{end}}