{{define "styles"}}
<link href="/public/css/wikipage.css" rel="stylesheet">
{{end}}
{{define "content"}}
<div id="content">
    <div class="pagetitle" id="{{ .WikiData.WikiID}}">{{ .WikiData.WikiName}}</div>
    <div id="wrap">
        <div id="wiki_about">
            <div id="wiki_creator">Добавил(а) <a href="/profile/{{ .WikiData.WikiAuthor.UserID }}">{{ .WikiData.WikiAuthor.UserFIO }}</a></div>
            <div id="wiki_desc">
                <div class="label">Описание</div>
                <div class="value markdown-body"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/getdesc.js"></script>
{{end}}