{{ define "tasks" }}
<!DOCTYPE html>
<html>
<head>
    {{ template "header" .}}
    <link href="/public/css/tasks.css" rel="stylesheet">
</head>
<body>
    <header>
        {{ template "navbar" .}}
        {{ template "newItem" .}}
    </header>
        <div id="content">
            <div class="pagetitle">Список задач</div>
            <div id="wrap" style="overflow: visible">
                <fieldset id="filter">
                    <legend style="min-height: 20px; line-height: 20px; cursor: pointer;">
                        <span id="icoarrowright"></span>
                        <div style="float: left;">Фильтр</div>
                    </legend>
                    <div id="filters" class="show">
                        <div class="label" style="margin-left: 0">Статус</div>
                        <div class="record" style="padding-left: 0" id="filter_stat">
                            <input type="checkbox" name="new" checked>
                            <label for="new">Новая</label>
                            <input type="checkbox" name="in_process" checked>
                            <label for="in_process">В процессе</label>
                            <input type="checkbox" name="closed">
                            <label for="closed">Закрыта</label>
                            <input type="checkbox" name="delayed" checked>
                            <label for="delayed">Отложена</label>
                        </div>
                    </div>
                </fieldset>
                <div class="container_table">
                    <table id="tasks">
                        <thead>
                            <tr>
                                <th>
                                    <span class="sort_icon sort_icon_down sort_by_letter_down sort_name_down"></span>
                                    Имя задачи
                                    <span class="sort_icon sort_icon_up sort_by_letter_up sort_name_up"></span>
                                </th>
                                <th>
                                    <span class="sort_icon sort_icon_down sort_by_obj_down sort_stat_down"></span>
                                    Статус
                                    <span class="sort_icon sort_icon_up sort_by_obj_up sort_stat_up"></span>
                                </th>
                                <th>
                                    <span class="sort_icon sort_icon_down sort_by_obj_down sort_pr_down"></span>
                                    Приоритет
                                    <span class="sort_icon sort_icon_up sort_by_obj_up sort_pr_up"></span>
                                </th>
                                <th>
                                    <span class="sort_icon sort_icon_down sort_by_letter_down sort_exec_down"></span>
                                    Назначена
                                    <span class="sort_icon sort_icon_up sort_by_letter_up sort_exec_up"></span>
                                </th>
                                <th>
                                    <span class="sort_icon sort_icon_down sort_by_obj_down sort_add_down"></span>
                                    Добавлена
                                    <span class="sort_icon sort_icon_up sort_by_obj_up sort_add_up"></span>
                                </th>
                                <th>
                                    <span class="sort_icon sort_icon_down sort_by_obj_down sort_limit_down"></span>
                                    Закончить до
                                    <span class="sort_icon sort_icon_up sort_by_obj_up sort_limit_up"></span>
                                </th>
                                <th>
                                    <span class="sort_icon sort_icon_down sort_by_num_down sort_rate_down"></span>
                                    Рейтинг
                                    <span class="sort_icon sort_icon_up sort_by_num_up sort_rate_up"></span>
                                </th>
                                <th>
                                    <span class="sort_icon sort_icon_down sort_by_obj_down sort_update_down"></span>
                                    Обновлена
                                    <span class="sort_icon sort_icon_up sort_by_obj_up sort_update_up"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Tasks}}
                            <tr>
                                <td id="name">
                                    <a href="/tasks/show/{{ .TaskID }}">{{ .TaskName }}</a>
                                    {{ if and (le .TaskDateDiff 36.0) (ne .TaskDateDiff 0.0) }}
                                    <span id="icofire"></span>
                                    {{end}}
                                </td>
                                <td id="stat">{{ .TaskStat }}</td>
                                <td id="pr">{{ .TaskPriority}}</td>
                                {{ if (eq .TaskExecutorType "group") }}
                                <td id="exec"><a href="/group/show/{{ .TaskExecutorID }}">{{ .TaskExecutorName }}</a></td>
                                {{ else }}
                                <td id="exec"><a href="/profile/{{ .TaskExecutorName }}">{{ .TaskExecutorFIO }}</a></td>
                                {{ end }}
                                <td id="date_start">{{ .TaskDateStart }}</td>
                                <td id="date_end">{{ .TaskDateEnd }}</td>
                                <td id="rate">{{ .TaskRate }}</td>
                                <td id="last_update">{{ .TaskDateLastUpdate }}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{ template "bottomScripts" .}}
    {{ template "footer" .}}
</body>
</html>
{{ end }}